body {
	background: url(images/background.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: "Arial", Arial, Sans-serif;
}

h1 {
	text-align: center;
	font-size: 3em;
	padding: 10px;
	line-height: 150%;
	text-shadow: 3px 3px 3px #333;
}

h2 {
	text-align: center;
	font-size: 2em;
	padding: 5px;
	line-height: 100%;
	text-shadow: 2px 2px 2px #CCCCCC;
}

.white {
	background-color: #f1f1f1;
	width: 10%;
	margin: auto;
	border: 2px solid gray;
	border-radius: 5px;
}

form {
	background-color: #f1f1f1;
	width: 25%;
	height: auto;
	margin: auto;
	padding: auto;
	padding-bottom: 20px;
	text-align: center;
	border: 2px solid gray;
	border-radius: 20px;
}

.about {
	background-color: #f1f1f1;
	width: 30%;
	height: auto;
	margin: auto;
	padding: auto;
	padding-bottom: 20px;
	text-align: center;
	border: 2px solid gray;
	border-radius: 20px;
}

.submit {
	text-align: center;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: dimgray;
	border: 2px clear;
	border-radius: 5px;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not (.active ) {
	background-color: #111;
}

.active {
	background-color: #3399ff;
}

ul.topnav li.right {
	float: right;
}

.signup {
	display: flex;
	flex-direction: row;
}

header {
	background-image: url(images/cover.jpg);
	color: #f1f1f1;
	height: 5em;
	background-position: center;
	background-repeat: no-repeat;
}

table {
	width: 100%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	text-align: left;
}

table#t01 tr:nth-child(even) {
	background-color: #eee;
}

table#t01 tr:nth-child(odd) {
	background-color: #fff;
}

table#t01 th {
	background-color: darkgray;
	color: white;
}

footer {
	font-size: 0.70em;
	font-style: italic;
	padding: 10px;
	margin-left: 180px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px #CCCCCC;
}

p {
	text-align: center;
}

.warn {
	background-color: #f1f1f1;
	width: 50%;
	margin: auto;
	padding: 20px;
	border: 2px solid gray;
	border-radius: 5px;
}

#teamsearch {
	display: none;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}